In [65]:

import numpy as pd
import pandas as pd
import seaborn as sns

In [67]:
# URL do arquivo CSV
url = "https://www.ime.usp.br/~keiji/abandono.csv"

# Lendo o arquivo CSV diretamente da URL com Pandas
df = pd.read_csv(url)

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3333 non-null   object
 1   Account length          3333 non-null   int64
 2   Area code               3333 non-null   int64
 3   International plan      3333 non-null   object
 4   Voice mail plan         3333 non-null   object
 5   Number vmail messages   3333 non-null   int64
 6   Total day minutes       3333 non-null   float64
 7   Total day calls         3333 non-null   int64
 8   Total day charge        3333 non-null   float64
 9   Total eve minutes       3333 non-null   float64
 10  Total eve calls         3333 non-null   int64
 11  Total eve charge        3333 non-null   float64
 12  Total night minutes     3333 non-null   float64
 13  Total night calls       3333 non-null   int64
 14  Total night charge      3333 non-null   float64
 15  Total intl minutes      3333 non-null   float64
 16  Total intl calls        3333 non-null   int64
 17  Total intl charge       3333 non-null   float64
 18  Customer service calls  3333 non-null   int64
 19  Churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 498.1+ KB

In [70]:
df.State.head()

0    KS
1    OH
2    NJ
3    OH
4    OK
Name: State, dtype: object

In [72]:
df['Account length']

0       128
1       107
2       137
3        84
4        75
       ...
3328    192
3329     68
3330     28
3331    184
3332     74
Name: Account length, Length: 3333, dtype: int64

In [73]:
df['International plan']

0        No
1        No
2        No
3       Yes
4       Yes
       ...
3328     No
3329     No
3330     No
3331    Yes
3332     No
Name: International plan, Length: 3333, dtype: object

In [74]:
df['Voice mail plan']

0       Yes
1       Yes
2        No
3        No
4        No
       ...
3328    Yes
3329     No
3330     No
3331     No
3332    Yes
Name: Voice mail plan, Length: 3333, dtype: object

In [75]:
df.shape

(3333, 20)

In [76]:
df.dtypes

State                      object
Account length              int64
Area code                   int64
International plan         object
Voice mail plan            object
Number vmail messages       int64
Total day minutes         float64
Total day calls             int64
Total day charge          float64
Total eve minutes         float64
Total eve calls             int64
Total eve charge          float64
Total night minutes       float64
Total night calls           int64
Total night charge        float64
Total intl minutes        float64
Total intl calls            int64
Total intl charge         float64
Customer service calls      int64
Churn                        bool
dtype: object

In [59]:
num_elementos_diferentes = df['Churn'].nunique()

# Exibindo o resultado
print("Número de elementos diferentes na coluna:", num_elementos_diferentes)

Número de elementos diferentes na coluna: 2

In [60]:
# Contando os valores True e False na coluna 'Churn'
contagem_churn = df['Churn'].value_counts()

# Exibindo o resultado
print("Número de clientes Churn (True) e não Churn (False):\n", contagem_churn)

Número de clientes Churn (True) e não Churn (False):
 Churn
False    2850
True      483
Name: count, dtype: int64

In [79]:
tabela_cruzada = pd.crosstab(df['Voice mail plan'], df['Churn'], normalize='index')

# Exibindo a tabela cruzada
print(tabela_cruzada)

Churn               False     True
Voice mail plan
No               0.832849  0.167151
Yes              0.913232  0.086768

In [82]:
tabela_cruzada = pd.crosstab(df['International plan'], df['Churn'], normalize='index')

# Exibindo a tabela cruzada
print(tabela_cruzada)

Churn                  False     True
International plan
No                  0.885050  0.114950
Yes                 0.575851  0.424149