<a href="https://colab.research.google.com/github/menezescarlos/Analise-de-Daodos/blob/main/Analise_de_Dados_com_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Olá mundo')

Olá mundo

In [2]:
import pandas as pd

In [3]:
# Criar um DataFrame a partir de um dicionário
data = {
    'Nome': ['Ana', 'Bruno', 'Carlos'],
    'Idade': [23, 35, 45],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte']
}

df = pd.DataFrame(data)

# Exibir o DataFrame
print(df)

     Nome  Idade          Cidade
0     Ana     23       São Paulo
1   Bruno     35  Rio de Janeiro
2  Carlos     45  Belo Horizonte